APScheduler    
asttokens           
backcall         
cachetools        
certifi               
charset-normalizer    
colorama             
debugpy             
decorator            
entrypoints         
executing          
idna               
ipykernel             
ipython             
jedi                 
jupyter-client       
jupyter_core        
matplotlib-inline    
nest-asyncio         
packaging          
parso                
pickleshare       
platformdirs         
prompt-toolkit       
psutil                
pure-eval           
Pygments              
pyparsing          
python-dateutil      
python-telegram-bot   
pytz                  
pytz-deprecation-shim
pywin32             
pyzmq            
requests            
six                 
stack-data        
telegram             
tornado            
traitlets          
tzdata             
tzlocal            
urllib3              
wcwidth       